---
- name: download .deb file
  get_url:
    dest: "/tmp/elasticsearch-{{ elasticsearch_version }}.deb"
    url: "https://download.elasticsearch.org/elasticsearch/elasticsearch/elasticsearch-{{ elasticsearch_version }}.deb"
    mode: 0644
  tags:
    - elasticsearch
    - install
    - packages

- name: install from .deb package
  command: "dpkg --skip-same-version --install {{ temp_dir }}/elasticsearch-{{ elasticsearch_version }}.deb"
  register: dpkg_result
  changed_when: "dpkg_result.stdout.startswith('Selecting')"
  notify:
    - restart elasticsearch
  tags:
    - elasticsearch
    - install
    - packages

- name: ensure elasticsearch logrotation configuration is in place
  copy:
    dest=/etc/logrotate.d/elasticsearch
    src=logrotate.conf
    owner=root
    group=root
    mode=644
  notify:
    - restart cron
  tags:
    - elasticsearch
    - log

